@font-face {
  font-family: Macklin Text Regular;
  src: url('MacklinText-Regular.otf');
}
#vp {
	display: flex;
}
.card {
	flex: 0 0 400px;
	display: flex;
	background-color: #ed1c24;
	border-radius: 15px;
	padding-top: 10px;
	padding-right: 12px;
	padding-left: 12px;
}
	.card .img {
		flex: 0 0 35%;
		margin-bottom: -6px;
	}
		.card .img img {
			width: 100%;
		}
	.card .content {
		flex: 0 0 65%;
	}
		.card .content h1 {
			margin-top: 8px;
			margin-bottom: 0;
			font-family: Macklin Text Regular;
		}
		.card .content ul {
			list-style-type: none;
			font-family: Macklin Text Regular;
			margin-left: -20px;
			font-size: 20px;
			margin-top: 0;
		}
			.card .content li::before {
				content: '';
				display: inline-block;
				height: 16px;
				width: 16px;
				background-size: 16px;
				background-repeat: no-repeat;
				vertical-align: middle;
				margin-right: 5px;
			}
			.card .content li:first-child::before {
				background-image: url('case.png');
			}
			.card .content li:nth-child(2)::before {
				background-image: url('phone.png');
			}
			.card .content li:nth-child(3)::before {
				background-image: url('mail.png');
			}
